#LoginPage {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(33, 37, 41);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  .content {
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    #imageSection {
      border-radius: 10px 0 0 10px;
      height: 100%;
      background-color: #4c4d4d;
      background-image: url("../../assets/login-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      .filter {
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: 100%;
        background-color: rgba(13, 109, 253, 0.9);
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3rem 5%;
        .img {
          height: 3rem;
        }
        #mainContent {
          margin: auto 0;
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
    #formSection {
      border-radius: 0 10px 10px 0;
      height: 100%;
      background-color: rgb(17, 20, 24);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      form {
        color: white;
        h1 {
          text-align: center;
        }
        .inputField {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: flex-start;
          justify-content: flex-start;
          align-items: flex-start;
          label {
            color: #dee3e4;
            padding: 0.6rem 0;
          }
          input {
            background-color: #232a31;
            color: white;
            padding: 1rem;
            border: 0;
            outline: 0;
            border-radius: 8px;
            margin-bottom: 1rem;
          }
          span {
            font-size: 0.8rem;
            padding: 0.5rem 1rem;
            opacity: 0.9;
          }
        }
      }
    }
  }
}
