#AboutDashboard {
    height: 90vh;
    display: flex;
    background-color: #0b0320;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    .AboutDash {
        height: 67vh;
        display: flex;
        margin: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;

        #ad3 {
            background-image: url("./1.png");
            background-position: 50%;
            background-size: cover;
        }

        #About1 {
            height: 65vh;
            background-color: #d616e3;
            margin-top: 0.7rem;
            background-image: url("./3.png");
            border-radius: 8px 8px 8px 8px;
        }

        #Div1 {
            height: 9rem;
            background-color: #4d17e2;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 8px 8px 8px 8px;
            margin-top: 0.8rem;

            img {
                height: 5rem;
            }
        }

        #div2 {
            height: 19.5rem;
            display: flex;
            margin-top: 2rem;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: center;
            align-items: center;

            .Imgdiv {
                height: 19.5rem;
                background-image: url('./2.png');
                background-position: 50%;
                background-size: cover;
                border-radius: 8px 8px 8px 8px;
            }

            .contentdiv {
                height: 19.5rem;
                display: flex;
            
                margin-left: 2rem;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;

             #condiv1{
                text-align: center;
                height: 9rem;
                display: flex;
                background-color: #4d17e2;
                border-radius: 8px 8px 8px 8px;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: flex-start;
                justify-content: center;
                align-items: center;
             }
             #condiv2{
                height: 9rem;
                display: flex;
                background-color: #d616e3;
                margin: 1rem;
                margin-top: 1.5rem;
                border-radius: 8px 8px 8px 8px;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                img{
                    height: 5rem;
                }
             }

            }
        }
    }


    .AD1 {
        height: 19rem;
        margin: 1rem;
        border-radius: 8px 8px 8px 8px;

        .aboutDiv {
            height: 9rem;
            display: flex;
            margin: 1rem 0%;
            margin-top: 0rem;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 8px 8px 8px 8px;

            img {
                height: 5rem;
            }

        }

        #ad1 {
            background-color: #4d17e2;
        }

        .ad2 {
            background-color: #d616e3;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

    }

    .AD2 {
        height: 9rem;
        background-color: #4d17e2;
        margin-left: -11rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 8px 8px;

        img {
            height: 5rem;
        }
    }
}

h1 {
    color: white;

}

h2 {
    color: white;
}

h4 {
    color: white;
}